.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;

  .title {
    margin: 10px;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }

  .error {
    color: #c51244;
    margin-bottom: 20px;
  }
}
